/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 18pt;
  font-weight: bold;
  color: #224444;

  /* One side shadow */
  -webkit-box-shadow: 0 8px 6px -6px #224444;
  -moz-box-shadow: 0 8px 6px -6px #224444;
  box-shadow: 0 8px 6px -6px #224444;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
/*   width: 400px; Comento para poder redimensionar desde codigo*/
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.labelError {
/*background: #FFFFCC url(images/icon/alert-triangle-red.png) no-repeat scroll 5px 50%; */
  background: url(images/icon/alert-triangle-red.png) no-repeat scroll 5px 50%;
  color: red;
  padding: 5px 10px 5px 35px;
}

.labelBold {
  font-family: Arial, Verdana;
  font-size: 12px;
  font-weight: bold;
  color: #224444;
}

.labelInfo {
  font-family: Arial, Verdana;
  font-size: 10px;
  color: #224444;
}

.labelTry {
  font-family: Arial, Verdana;
  font-size: 12px;
  color: #224444;
}

.labelStatus {
  font-family: Arial, Verdana;
  font-size: 12px;
  color: #d15c5c;
}

.center {
  margin: 0px auto;
  width: 480px;
  text-align:left;
  border: 1px solid #9dc3c3;
  padding: 0px;
  background:url(images/mainbg.png) center center;

/*   -moz-border-radius: 10px; */
/*   -webkit-border-radius: 10px; */
/*   border-radius: 10px; */

  height: 5em;
  width: 12em;
  -webkit-border-radius: 4em 1em 1em 1em;
  -moz-border-radius: 4em 1em 1em 1em;
  border-radius: 4em 1em 1em 1em;

  /* Inner shadow */
/*   -moz-box-shadow:    inset 0 0 5px #224444; */
/*   -webkit-box-shadow: inset 0 0 5px #224444; */
/*   box-shadow:         inset 0 0 5px #224444; */

  /* Shadow */
/*   -moz-box-shadow:    3px 3px 5px 6px #ccc; */
/*   -webkit-box-shadow: 3px 3px 5px 6px #ccc; */
/*   box-shadow:         3px 3px 5px 6px #ccc; */

  /* One side shadow */
  -webkit-box-shadow: 0 8px 6px -6px #224444;
  -moz-box-shadow: 0 8px 6px -6px #224444;
  box-shadow: 0 8px 6px -6px #224444;
}

.title {
  vertical-align: top;
  background-repeat: repeat;
  background-image: url(images/bg.png);

/*   -moz-border-radius: 10px; */
/*   -webkit-border-radius: 10px; */
/*   border-radius: 10px; */

  -moz-border-radius: 10px 10px 0 10px;
  -webkit-border-radius: 10px 10px 0 10px;
  border-radius: 10px 10px 0 10px;

  padding-right: 10px;
}

.title-text {
/* 	color: #224444; */
/* 	font-size: 16px; */
/* 	font-family: Verdana, Arial; */
/* 	font-weight: bolder; */
/* 	text-shadow: 2px 2px 2px #fff; */
/*  text-shadow: #fff 0px 1px 0, #000 0 -1px 0; */

  font: bold 22px Verdana, Georgia, Times, serif;
  color: #224444;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: -1px;
  text-shadow: #fff 2px 2px 2px, #ddd 0 -1px 0;
}

.title-help {
  padding-left: 25px;
  color: #224444;
}

.optionsBox {
  margin: 0px auto;
  width: 480px;
  text-align:left;
  border: 1px solid #9dc3c3;
  padding: 0px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* .upld-multiple { */
/* 	padding: 3px; */
/* } */

.btn-upld {
	font-family: Arial, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #224444;
	padding: 3px;
}

.GWTUpld {
	color: #224444;
	padding: 4px;
}

.pointer {
   cursor: pointer;
}

.help-header {
  font-size: large;
  font-weight: bold;
  color: #224444;
}

.help-page {
  font-size: 14px;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  color: #224444;
}

.help-contact {
  font-size: large;
  color: #224444;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

a, a:visited {
  color: #0066cc;
  text-decoration:none;
}

a:hover {
  color: #0066cc;
  text-decoration:underline;
}

.gwt-DialogBox .dialogContent {
  color: #224444;
}

.coefbox {
  width: 25px;
  white-space: nowrap;
  margin-left: 6px;
  text-align:right;
  padding: 0px 3px;

}

.coeflabel {
  white-space: nowrap;
  margin-left: 15px;
}
